.van-cell {
	width: 100%;
	display: flex;
	padding: 0.2rem 0.3rem;
	box-sizing: border-box;
	line-height: 0.48rem;
	position: relative;
	background-color: $white;
	color: $text-color;
	font-size: 0.24rem;
	overflow: hidden;

	&:not(:last-child)::after {
		left: 0.3rem;
		right: 0;
		width: auto;
		transform: scale(1, 0.5);
		border-bottom-width: 0.02rem;
	}

	&-group {
		background-color: $white;
	}

	&__label {
		font-size: 0.24rem;
		line-height: 1.2;
		color: $gray-darker;
	}

	&__title,
	&__value {
		flex: 1;
	}

	&__value {
		overflow: hidden;
		text-align: right;
		vertical-align: middle;

		&--alone {
			text-align: left;
		}
	}

	&__left-icon {
		font-size: 0.32rem;
		line-height: 0.48rem;
		margin-right: 0.1rem;
	}

	&__right-icon {
		color: $gray-dark;
		font-size: 0.24rem;
		line-height: 0.48rem;
		margin-left: 0.1rem;
	}

	&--clickable {
		&:active {
			background-color: $active-color;
		}
	}

	&--required {
		overflow: visible;

		&::before {
			content: '*';
			position: absolute;
			left: 0.14rem;
			font-size: 0.28rem;
			color: $red;
		}
	}

	&--center {
		align-items: center;
	}
}
