.van-pull-refresh {
	user-select: none;
	overflow: hidden;

	&__track {
		position: relative;
	}

	&__head {
		width: 100%;
		height: 1rem;
		left: 0;
		overflow: hidden;
		position: absolute;
		text-align: center;
		top: -1rem;
		font-size: 0.28rem;
		color: $gray-dark;
		line-height: 1rem;
	}

	&__loading {
		.van-loading {
			width: 0.32rem;
			height: 0.32rem;
			margin-right: 0.1rem;
		}

		span,
		.van-loading {
			vertical-align: middle;
			display: inline-block;
		}
	}

	&__text {
		display: block;
	}
}
