
$van-swipe-indicator: 0.12rem;

.van-swipe {
    overflow: hidden;
    position: relative;
    user-select: none;

    &-item {
        float: left;
        height: 100%;
    }

    &__track {
        height: 100%;
    }

    &__indicators {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: 0.2rem;
        transform: translateX(-50%);

        &--vertical {
            left: 0.2rem;
            top: 50%;
            bottom: auto;
            flex-direction: column;
            transform: translateY(-50%);

            .van-swipe__indicator:not(:last-child) {
                margin-bottom: $van-swipe-indicator;
            }
        }
    }

    &__indicator {
        border-radius: 100%;
        background-color: $gray-dark;
        width: $van-swipe-indicator;
        height: $van-swipe-indicator;
        margin:0  $van-swipe-indicator / 2;

        //&:not(:last-child) {
        //    margin-right: $van-swipe-indicator;
        //}

        &--active {
            background-color: $orange;
        }
    }
}
